<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul>
        <li>
            <a href="/app/senddata/?params=10">发送携带参数的get请求</a>
        </li>
        <li>
            <a href="/app/add/?num1=10&num2=100">get请求的简单加法计算器</a>
        </li>
        <li>
            <a href="/app/bookinfo/Python编程思想/2019">基于restFul风格的url的请求参数的处理</a>
        </li>
        <li>
            <a href="/app/hello">跳转到打招呼页面</a>
        </li>
        <li>
            <a href="/app/search">跳转到搜索页面</a>
        </li>
        <li>
            <a href="/app/addCookie/chinasofti">保存cookie</a>
        </li>
        <li>
            <a href="/app/getCookie">获取cookie</a>
            <label style="color:red" for="">{{ company }}</label>
        </li>
        <li>
            <a href="/app/login/">登录</a>
        </li>
    </ul>
</body>
</html>