<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Django-App01</title>

    <!-- 使用模板指令-->
    {% load static %}

    <!-- 引用外部css样式表 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />

    <!-- 引用外部JavaScript动态脚本 -->
    <script type="text/javascript" src="{% static 'scripts/global.js' %}"></script>
</head>
<body>
    <!-- 标题 -->
    <h1>你好, Django</h1>

    <button onclick="hello();">oo</button>
    <br />
    
    <!-- 引用图片 -->
    <img src="{% static 'image/django_image.jpg' %}" />
</body>
</html>