<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog在线个人博客Login</title>
    <!-- 使用模板指令-->
    {% load static %}

    <!-- 引用外部css样式表 -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/homework01.css' %}" />

    <!-- 引用外部JavaScript动态脚本 -->
    <script type="text/javascript" src="{% static 'scripts/homework01.js' %}"></script>
</head>
<body>
    <div class="charinput">
        <h class="zhuce">注册</h>
        <h class="register">register</h>
        <p></p><p></p>
        <form name="register" action="/app01/ge" method="POST"> <!--待改-->
        {% csrf_token %}

            登陆账号:
            <input type="text" name="account" placeholder="请输入邮箱地址/电话号码"><br />
        
            登陆密码:
            <input type="password" name="password" placeholder="请输入不少于6位的字符"><br />
        
            密码确认:
            <input type="password" name="passwordagain" placeholder="两次密码一致"><br />
        
            用户昵称:
            <input type="text" name="name" placeholder="请输入不少于6位的字符">
            <a href="/app01/nameonly">唯一验证</a><br/>
    
        <h>用户头像:</h><br/>
        <div id="preview">
            
            <img src="{% static 'image/face.jpg' %}" alt="" id="imghead5" height="50" width="50" />
        </div>
        <div class="yanzRight">
            <input name="evidence" onchange="uploadImg(this,'preview')" type="file"/>
            <span class="dui" id="imgOrder_dui" style="display: none;"></span>
        </div><br />

        用户性别:
        <input name="sex" type="radio" checked="checked"/>男  
        <input name="sex" type="radio" />女<br />

        <label for="local">所在城市</label>:</label>
        <select id="local" >
            <option>重庆</option>
            <option>成都</option>
            <option>广西</option>
        </select>
        </div><br />
        
        <div >
        个性签名:
        <input type="text" name="lastname" placeholder="请输入不大于30个字"><br />
        </div>
    </div>
        
    <div class="control">
            <button type="submit"> 立即注册 </button>
            <a href="/app01/login">返回登陆</a>
    </div>
    </form>

</body>
</html>